/* Enter your custom styles here */

.rows {
    border-top: 1px solid goldenrod;
    width: fit-content;
}

.colHeads {
}

.colHeadCell {
    line-height: 1.5rem;
}

.cell,
.rowHeadCell {
    width: 1rem;
    text-align: center !important;
}

.rowHeader {
    width: 5rem;
    border-right: 1px solid goldenrod;
}
